name: Test Simple

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo test
        run: echo "GitHub Actions funciona correctamente"

      - name: Verificar fecha
        run: date
